# dependencies
/node_modules

# testing
/coverage

# component build
/dist

# misc
.DS_Store

# yarn Zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions